{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        hr {
            border-width: 2px;
        }
    </style>
</head>
<body><hr>
    <div class="container text-center">
        <h3>Hello Everyone I am Hasan Ahmed</h3><br>
        <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur non voluptates atque esse, dolores, natus, nulla hic commodi aperiam animi quaerat voluptatum quod harum omnis excepturi porro ratione iusto odit.</h4>
    </div>
</body><br><br><br><br><br>
<hr>
<div class="container text-center">
    <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
</div>
</html>
    {% endblock %}